@model LoginViewModel

<section class="relative top-1/2 -translate-y-1/2 max-w-lg mx-auto">
  <form id="login" method="post" class="grid grid-rows-1 gap-1 text-slate-700 text-sm">
    <div class="grid grid-rows-1 gap-1">
      <label asp-for="@Model.Email"></label>
      <input asp-for="@Model.Email" class="bg-slate-50 border border-slate-300 rounded-lg p-2.5"/>
      <span asp-validation-for="@Model.Email" class="text-red-500"></span>
    </div>

    <div class="grid grid-rows-1 gap-1">
      <label asp-for="@Model.Password"></label>
      <input asp-for="@Model.Password" type="password" class="bg-slate-50 border border-slate-300 rounded-lg p-2.5"/>
      <span asp-validation-for="@Model.Password" class="text-red-500"></span>
    </div>

    <div class="flex items-center">
      <label asp-for="@Model.RememberMe"></label>
      <input asp-for="@Model.RememberMe" class="ml-2 w-4 h-4 bg-slate-50 border border-slate-300 rounded"/>
    </div>

    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-base p-3 mt-2">
      Zaloguj się
    </button>
  </form>

  <hr class="mt-2 h-px bg-slate-400">
  <footer class="mt-2">
    <p>
      Nie masz konta?
      <a asp-action="Register" class="font-medium text-blue-500 hover:underline">Dołącz do nas!</a>
    </p>
  </footer>
</section>