@model LoginRequestModel
@{
  ViewData["Title"] = "Log in - IssueTracker";
}


<section class="relative top-1/2 -translate-y-1/2">
  <form id="account" method="post" class="max-w-2xl mx-auto p-5 md:border-2 md:rounded-xl md:shadow">
    @* Welcome Header *@
    <div>
      <h1>Welcome back to IssueTracker</h1>
      <p>Log in!</p>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    @* Email *@
    <div class="">
      <label asp-for="@Model.Email"></label>
      <input asp-for="@Model.Email" class=""/>
      <span asp-validation-for="@Model.Email" class=""></span>
    </div>

    @* Password *@
    <div class="">
      <label asp-for="@Model.Password"></label>
      <input asp-for="@Model.Password" class=""/>
      <span asp-validation-for="@Model.Password" class=""></span>
    </div>

    @* Remember me *@
    <div class="">
      <div class="">
        <label asp-for="@Model.RememberMe">
          <input asp-for="@Model.RememberMe"/>
          @Html.DisplayNameFor(m => m.RememberMe)
        </label>
      </div>
    </div>

    @* Log in *@
    <div class="">
      <button type="submit">Log in</button>
    </div>

    @* No account footer *@
    <hr>
    <p>
      Don't have an account?
      <span class="font-semibold">
        <a asp-controller="Account" asp-action="Register">Register</a>
      </span>
    </p>
  </form>
</section>