@model LoginRequestModel
@{
  ViewData["Title"] = "Log in - IssueTracker";
}

<section class="relative top-1/2 -translate-y-1/2">
  <form id="account" method="post" class="max-w-2xl mx-auto p-5 md:border-2 md:rounded-xl md:shadow">
    @* Welcome Header *@
    <div>
      <h1>Welcome back to IssueTracker</h1>
      <p>Log in!</p>
    </div>

    @* Email *@
    <div>
      <label asp-for="@Model.Email"></label>
      <input asp-for="@Model.Email"/>
      <span asp-validation-for="@Model.Email"></span>
    </div>

    @* Password *@
    <div>
      <label asp-for="@Model.Password"></label>
      <input asp-for="@Model.Password"/>
      <span asp-validation-for="@Model.Password"></span>
    </div>

    @* Remember me *@
    <div>
      <div>
        <label asp-for="@Model.RememberMe"></label>
        <input asp-for="@Model.RememberMe"/>
      </div>
    </div>

    @* Log in *@
    <div>
      <button type="submit">Log in</button>
    </div>

    @* No account footer *@
    <hr>
    <p>
      Don't have an account?
      <span class="font-semibold">
        <a asp-controller="Account" asp-action="Register">Register</a>
      </span>
    </p>
  </form>
</section>