@model RegisterRequestModel
@{
  ViewData["Title"] = "Register - IssueTracker";
}

<section class="relative top-1/2 -translate-y-1/2">
  <div class="max-w-2xl mx-auto p-5 md:border-2 md:rounded-xl md:shadow">
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
      @* WelcomeHeader *@
      <div>
        <h1>Join IssueTracker</h1>
        <p>Create an account!</p>
      </div>

      @* Email *@
      <div class="form-group">
        <label asp-for="@Model.Email"></label>
        <input asp-for="@Model.Email"/>
        <span asp-validation-for="@Model.Email"></span>
      </div>

      @* Password *@
      <div class="form-group">
        <label asp-for="@Model.Password"></label>
        <input asp-for="@Model.Password"/>
        <span asp-validation-for="@Model.Password"></span>
      </div>

      @* Confirm Password *@
      <div class="form-group">
        <label asp-for="@Model.ConfirmPassword"></label>
        <input asp-for="@Model.ConfirmPassword"/>
        <span asp-validation-for="@Model.ConfirmPassword"></span>
      </div>

      <button type="submit">Register</button>

      <hr>
      <p>
        Already have an account?
        <span class="font-semibold">
          <a asp-controller="Account" asp-action="Login">Login</a>
        </span>
      </p>
    </form>
  </div>
</section>